@import './elements';
@import './variables';

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: $black;
}

.brand_text {
    font-weight: bold;
    font-size: 30px;
    margin-block: 0px;
}

.panel_title {
    text-align: center;
}


body {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 95%), url('../assets/images/body_bg.jpg');
    background-attachment: fixed;
    margin: 0;
    .parent_container {
        margin: 0;
        margin-inline: auto;
        background-color: $white;
        max-width: 1440px;
        outline: solid black 2px;
        .header {
            padding-inline: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 90px;
            background: linear-gradient(120deg, $primary 70%, $secondary 30%);
            nav {
                ul {
                    display: flex;
                    flex-direction: row;
                    a {
                        margin-inline: 10px;
                        text-decoration: none;
                        font-size: 16px;
                        li {
                            list-style-type: none;
                        }
                    }
                }
            }
        }
        .hero_container {
            height: 90dvh;
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
            padding-inline: 10px;
            background-image: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 98%), url('../assets/images/hero_image.jpg');
            background-position: center;
            background-size: cover;
            .hero_container_element_container {
                h1, h2 {
                    color: $white;
                }
            }
        }
        .footer {
            background-color: $black;
            color: $white;
            .footer_elements_container {
                display: flex;
                justify-content: center;
                align-items: center;
                p {
                    color: $white;
                }
                nav {
                    ul {
                        display: flex;
                        align-items: center;
                        a {
                            margin-inline: 10px;
                            li {
                                color: $white;
                                list-style: none;
                            }
                        }
                    }
                }
            }
        }
    }
}